/Estrutura de Dados/Aula2/Aula2/nbproject/private/
/Estrutura de Dados/Aula2/Aula2/build/
/Estrutura de Dados/Aula3/nbproject/private/
/Estrutura de Dados/Aula3/build/
/TecnicasDeProgramcao/ProjetoAula03/build/
/TecnicasDeProgramcao/EDAula4/build/
/TecnicasDeProgramcao/AulaTP05/target/
/TecnicasDeProgramcao/AulaTP05/nbproject/
/TecnicasDeProgramcao/ProjetoAula03/dist/
/TecnicasDeProgramcao/TPaula06/GUI/nbproject/private/
/TecnicasDeProgramcao/TPaula06/GUI/build/
/TecnicasDeProgramcao/New Folder/aula10/nbproject/private/
